html, body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
}


header {
  background-color: #256188;
  width: 100%;
  height: 40px;
  display: block;
}

header .logo {
  color: white;
  font-size: 23px;
  height: 40px;
  line-height: 38px;
  padding-left: 10px;
  text-decoration: none;
}

header .userButton {
  color: white;
  font-size: 17px;
  height: 30px;
  text-decoration: none;
  float: right;
  border: 1px solid white;
  padding: 0 10px 0 10px;
  line-height: 28px;
  margin-top: 4px;
  margin-right: 20px;
  border-radius: 3px;
}

header .userMenu {
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  vertical-align: top;
}

header .userMenu .search {
  border: 1px solid white;
  background-color: white;
  height: 25px;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

header .userMenu .searchButton {
  background-color: #17A353;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  height: 29px;
  display: inline-block;
  margin-left: -5px;
  border: 1px solid #17A353;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #17A353;
  padding: 0 15px 0 15px;
  cursor: pointer;
}

header:nth-child(2) {
  background-color: #256188;
  width: 100%;
  height: 40px;
  display: block;
}

header:nth-child(2) menu {
  height: 40px;
  color: white;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  padding-left: 10px;
}

header:nth-child(2) menu a{
  text-decoration: none;
  display: inline;
}

footer {
  background-color: #1B252E;
  width: 100%;
  height: 80px;
  display: block;
}

footer .footerText{
  height: 60px;
  width: calc(100% - 40px);
  margin: 0 auto 0 auto;
  padding-top: 10px;
}

footer .footerText .footerLink{
color: white;
text-decoration: none;
margin: 0 10px;
}

footer .footerText .footerLink:hover{
color: #4183C4;
}

.left{
float:left;
}

.right{
  float:right;

}
.rights{
  color: white;
  margin-left: 10px;
  margin-right: 10px;

}
.main {
  min-height: 400px;
  height: calc(100vh - 120px);
}

.main .home-title {
  color: #333333;
}

.help {
 background-image: url(img/help.png);
}

.bug {
 background-image: url(img/bug.png);
}

.search-icon {
 background-image: url(img/search-home.png);
}

.new-account {
 background-image: url(img/new-account.png);
}

.home-item {
  display: inline-block;
  height: 140px;
  width: 145px;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top;
  text-decoration: none;
  vertical-align: top;
}

.home-item span {
  position: relative;
  top: 95%;
  font-weight: bold;
  color: #333333;
  font-size: 18px;
}

footer .menu {

}
